---
import { SITE_TITLE } from "src/consts";
import Layout from "src/layouts/Layout.astro";
---

<Layout title={`${SITE_TITLE} | 404`}>
    <div class="grid h-screen w-full place-content-center">
        <h1 class="my-4 text-center text-5xl font-bold text-pastel-purple">
            404 PAGINA NO ENCONTRADA.
        </h1>
        <a
            class="mx-auto my-4 rounded-2xl border-2 border-dark bg-white px-3 py-1 text-center font-bold"
            href="/">Regreso al inicio.</a
        >
    </div>
</Layout>
