<footer id="footer" class="absolute top-full -z-[5] w-full">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
            fill="rgb(179,158,181)"
            fill-opacity="1"
            d="M0,288L48,245.3C96,203,192,117,288,112C384,107,480,181,576,229.3C672,277,768,299,864,277.3C960,256,1056,192,1152,186.7C1248,181,1344,235,1392,261.3L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
    </svg>
    <section
        class="flex h-full flex-col bg-pastel-purple text-center text-3xl text-white"
    >
        <small class="text-xl"
            >Derechos de autor © 2023 <a
                class="font-bold underline decoration-pastel-pink"
                href="https://github.com/MisterMikeDev"
                target="_blank">MDNW Snack Company</a
            >. Todos los derechos reservados.</small
        >
        <h6 class="pb-2 text-xl">
            Proyecto de microempresa para el <a
                class="underline decoration-pastel-pink"
                href="http://cobaej.edu.mx"
                target="_blank">Coabej</a
            >.
        </h6>
    </section>
</footer>
<style>
    @media print {
        footer#footer {
            display: none;
        }
    }
</style>
